
<div class="container">
  <div class="row">
    <div class="chat col-xs-12">


      <% @messages.each do |message| %>
        <div class="message">

          <%= link_to "", dashboard_chat_message_path(message.chat, message), class: "card-link"  %>
          <div class="chat-sender">
            <div class="sender-avatar">
              <% if message.user.photo %>
              <%= cl_image_tag message.user.photo, class: "avatar-large" %>
              <% end %>
            </div>
            <div class="sender-info">
              <div class="sender-name">
                <%= message.user.first_name %>
                <%= message.user.last_name %>
              </div>
              <div class="sender-mail">
                <%= message.user.email %>
              </div>
              <div class="message-time">
                <%= message.updated_at %>
              </div>
            </div>
          </div>
          <div class="chat-messages">
            <div class="message-subject">
              <p><%= message.subject %></p>

            </div>
            <div class="message-content">
              <% if message.content %>
                <% if message.content.length > 200 %>
                  <span> <%= message.content.first(200) %> </span>
                  <span>[...]</span>
                <% else %>
                  <span> <%= message.content %> </span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>



    </div>
  </div>
</div>


