<div class="profile-container">

  <h2>Your profile details</h2>






  <div class="profile-content">
    <div class="profile-photo ">
      <% if @user.picture == nil %>
      <div class="avatar-extra-large" style="background-image:url('<%= cl_image_path @user.photo,
          width: 400, height: 300, crop: :fill %>');"></div>

      <% else %>
            <div class="avatar-extra-large" style="background-image:url('<%= image_path @user.picture,
          width: 400, height: 400 %>');"></div>

      <% end %>
    </div>

    <div class="profile-infos">
      <div class="profile-element">
        <div class="profile-attribute">
          <strong> <h4>Full name:</h4></strong>
        </div>
        <div class="profile-value">
          <h4>  <%= @user.first_name %> <%= @user.last_name %></h4>
        </div>
      </div>

      <div class="profile-element">
        <div class="profile-attribute">
          <h4>Recircle user name:</h4>
        </div>
        <div class="profile-value">
          <h4> <%= @user.user_name %> </h4>
        </div>
      </div>

      <div class="profile-element">
        <div class="profile-attribute">
          <h4>Age:</h4>
        </div>
        <div class="profile-value">
          <h4> <%= @user.age %> </h4>
        </div>
      </div>

      <div class="profile-element">
        <div class="profile-attribute">
          <h4>Affiliated company:</h4>
        </div>
        <div class="profile-value">
          <h4> <%= @user.company %> </h4>
        </div>
      </div>

      <div class="profile-element">
        <div class="profile-attribute">
          <h4>email: </h4>
        </div>
        <div class="profile-value">
          <h4> <%= @user.email %> </h4>
        </div>
      </div>

      <div class="profile-element">
        <div class="profile-attribute">
          <h4>Phone number: </h4>
        </div>
        <div class="profile-value">
          <h4> <%= @user.phone_number %> </h4>
        </div>
      </div>

      <div class="profile-element">
        <div class="profile-attribute">
          <h4>Address: </h4>
        </div>
        <div class="profile-value">
         <h4> <%= @user.address %> </h4>
        </div>
      </div>

      <div class="profile-element">
        <div class="profile-attribute">
          <h4>Description:</h4>
        </div>
        <div class="profile-value">
          <h4>   <%= @user.description %></h4>
        </div>
      </div>
    </div>

  </div>
  <div class="actions">
      <%= link_to 'Edit your Profile' , edit_profile_path, class: 'btn btn-profile' %>
    </div>
</div>
