<div class="card ">
  <div class="card__image border-tlr-radius">
    <div class="image-card order-tlr-radius" style="background-image: url('<%= cl_image_path(material.photo)%>');">
    <%= link_to "", material_path(material), class: "card-link"  %>

          <div class="card__share">
      <div class="card__social">

        <%= form_tag(controller: "favourites", action: "create", method: "post", class: "form-horizontal") do %>
          <%= hidden_field_tag(:material_id, material.id) %>
          <label for="hidden-input-<%= material.id %>"><span class="fa fa-heart share-icon"></span></label>
          <input class="hidden-input" id="hidden-input-<%= material.id %>" name="commit" type="submit">
        <% end %>


        <a class="share-icon" href="#"><span class="fa fa-star"></span></a>
        <a class="share-icon" href="#"><span class="fa fa-share"></span></a>
      </div>

      <a id="share" class="share-toggle share-icon" href="#"></a>
    </div>
    </div>
    <!-- linear-gradient(-225deg, rgba(40,40,40,0.6) 0%, rgba(40,40,40,0.6) 50%), -->
      <h2 class="card__text__image">
        <%= material.category %>
      </h2>
      <p class="card__date__image btn-blue-purple ">
        <%= material.created_at.strftime("%b - %y") %>
      </p>



  </div>

  <div class="card__content card__padding">


      <a
        href="#"><%= material.supplier %>
      </a>

    <article class="card__description">
      <p>
        <%= material.title %>
      </p>
    </article>
  </div>
  <!-- <div class="footer"> -->
  <div class="card__price">
    <div class="card__footer__left">
      <p><%= material.price %> EUR/unit</p>
    </div>
    <div class="card__footer__right ">
      <img src=<%= image_path("add-to-cart.png")%> alt="image" class="avatar-square">
    </div>
  </div>
</div>

