  <div class="dropdown hidden-lg dropdown-small-screen">
  <i class="fa fa-bars fa-2x" id="navbar-wagon-menu" data-toggle="dropdown"></i>
  <ul class="dropdown-menu dropdown-menu-left navbar-wagon-dropdown-menu">

      <li class="dropdown ">
        <%= render partial: 'shared/nav_side_menu_topic', locals: {
          identifier: "small-screen",
          state: "in",
          number: 0,
          title: "Organic Materials",
          items: [
            "grass",
            "flower cuttings",
            "hedge trimmings"
          ]
        } %>

      </li>


      <li>

        <%= render partial: 'shared/nav_side_menu_topic', locals: {
          identifier: "small-screen",
          state: "in",
          number: 1,
          title: "Construction Materials",
          items: [
            "nails",
            "wiring",
            "machine parts",
            "rubble"
          ]
        } %>
      </li>

      <li>

        <%= render partial: 'shared/nav_side_menu_topic', locals: {
          identifier: "small-screen",
          state: "in",
          number: 2,
          title: "Glass",
          items: [
            "glass bottles",
            "broken glassware",
            "light bulbs",
          ]
        } %>
      </li>

      <li>

        <%= render partial: 'shared/nav_side_menu_topic', locals: {
          identifier: "small-screen",
          state: "in",
          number: 3,
          title: "Excess Food",
          items: [
            "leftovers",
            "organics",
          ]
        } %>
      </li>

      <li>

        <%= render partial: 'shared/nav_side_menu_topic', locals: {
          identifier: "small-screen",
          state: "in",
          number: 4,
          title: "Plastics",
          items: [
            "plastic bottles",
            "rubber",
            "industrial plastic",
          ]
        } %>
      </li>

      <li>

        <%= render partial: 'shared/nav_side_menu_topic', locals: {
          identifier: "small-screen",
          state: "in",
          number: 5,
          title: "Paper",
          items: [
            "cardboard",
            "discarded",
          ]
        } %>
      </li>

      <li>

        <%= render partial: 'shared/nav_side_menu_topic', locals: {
          identifier: "small-screen",
          state: "in",
          number: 6,
          title: "Wood",
          items: [
            "woodchips",
            "unrefined wood",
            "sawdust",
          ]
        } %>
      </li>

  </ul>
</div>
