
<div class="container">
  <ul class="inbox">
    <li class="message">
      <div class="avatar-large">
        <% if material.photo? %>
        <%= cl_image_tag material.photo, class: "avatar-large"%>
        <% else %>
        <p>---- insert placeholder image here ---</p>
        <% end %>
      </div>

      <div class="message-name">
        <%= material.category %>
      </div>
      <div class="message-body">
        <h3><%= material.title %></h3>
        <h4><%= material.description %></h4>
        <p><%= material.address %></p>
      </div>

        <p class="price">
          <strong><%= material.price %>EUR</strong>
        </p>

      <%= link_to "View", material_path(material), class: "listing-link"  %>
      <%= link_to 'Delete', material_path(material), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  </ul>
</div>
