
<div class="container">
  <ul class="inbox">
    <li class="message">
      <div class="avatar-large">
        <% if material.photo? %>
        <%= cl_image_tag material.photo, class: "avatar-large"%>
        <% else %>
        <p>---- insert placeholder image here ---</p>
        <% end %>
      </div>

      <div class="message-name">
        <h3><%= material.title %></h3>
        <%= material.category %>
      </div>
      <div class="message-body">
        <%= material.description %>
        <h4>Location:</h4>
        <p>
          <%= material.address %>
        </p>
      </div>

      <div class="listing-status">
        <h4 class="status pending"><%= purchase.status %></h4>
        <p class="price"><strong><%= material.price %></strong> EUR</p>
      </div>


      <%= link_to "View", material_path(material), class: "listing-link"  %>
      <%= link_to 'Delete', material_path(material), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  </ul>
</div>
