
<% content_for(:title_tag) do %>
  Recircle: Reduce, Reuse, Recircle
<% end %>

<!-- <h1>Pages#home</h1>
  <p>Landing page</p> -->

  <div class="container-home-zero-padding">
    <div class="grid">
      <div class ="side-nav-left hidden-xs hidden-sm">
        <%= render 'shared/nav-side-menu' %>
      </div>

      <div class="big-banner-top">
        <%= render 'shared/big-banner' %>
      </div>
      <div class="banner-left">
        <%= render 'shared/baby-banner', material: @last_material %>
      </div>
      <div class="banner-right">
        <%= render 'shared/baby-banner-2', material: @random_material %>
      </div>
    </div>

    <!-- side-nav -->


    <div class="bottom-container">

      <!-- cards container -->
      <div class="cards-container cards-flex">
        <div class="row">
          <div id="card-title">
            <h3 class="new-arrivals"><strong>New</strong>Arrivals</h3>
          </div>
          <% @three_materials.each do |material| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render partial: 'shared/card', locals: { material: material } %>
          </div>
          <% end %>
        </div>
        <%= link_to 'See more', materials_path, class: "btn-order-home" %>
      </div>





  </div>
