<% content_for(:title_tag) do %>
  My Dashboard: Recircle
<% end %>

<div class="tabs">
  <% profile_active = 'active' if params['active'] == 'profile' || params['active'] == nil %>
  <%= link_to dashboard_path(active: 'profile'), class: "tab #{profile_active}" do %>
      <h3>My profile</h3>
      <p>view my profile info</p>
  <% end %>

  <% materials_active = 'active' if params['active'] == 'materials' %>
  <%= link_to dashboard_path(active: 'materials'), class: "tab #{materials_active}" do %>
      <h3>My Sales</h3>
      <p>show me the money</p>
  <% end %>

  <% wishlist_active = 'active' if params['active'] == 'wishlist' %>
  <%= link_to dashboard_path(active: 'wishlist'), class: "tab #{wishlist_active}" do %>
      <h3>My Wishlist</h3>
      <p>sweet dreams</p>
  <% end %>



  <% purchases_active = 'active' if params['active'] == 'purchases' %>
  <%= link_to dashboard_path(active: 'purchases'), class: "tab #{purchases_active}" do %>
      <h3>My Purchases</h3>
      <p>aquired supplies</p>
  <% end %>


  <% messages_active = 'active' if params['active'] == 'messages' %>
  <%= link_to dashboard_path(active: 'messages'), class: "tab #{messages_active}" do %>
      <h3>My Inbox</h3>
      <p>communication is key</p>
  <% end %>
</div>


<% if params['active'] == 'profile' || params['active'] ==nil %>
  <div class="tab-content" id="profile">
    <div class="text-center">
      <%= render 'profiles/new-show', locals: { user: @user } %>
    </div>
  </div>
<% elsif params['active'] == 'purchases'%>
  <div class="tab-content" id="purchases">
    <div class="text-center">
      <%= render 'purchases/index', locals: {purchases: @purchases} %>
    </div>
  </div>
<% elsif params['active'] == 'materials'%>
  <div class="tab-content" id="materials">
    <div class="text-center">
      <%= link_to 'Post a new material', new_material_path, class: 'btn btn-primary' %>
    </div>

    <% @materials.each do |material| %>
      <%= render partial: 'shared/material-listing', locals: { material: material} %>
    <% end %>

  </div>
<% elsif params['active'] == 'messages'%>
  <div class="tab-content" id="messages">
    <div class="text-center">
    </div>
    <% messages.each do |message| %>
      <%= render partial: 'shared/messages', locals: { message: message, user: sender_id}  %>
  <% end %>
  </div>
<% end %>

