<% content_for(:title_tag) do %>
Recircle: Create a new post
<% end %>

<%= simple_form_for(@material) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <div class="container-form">
    <div class="row">
      <%= f.input :user_id , as: :hidden%>
      <div class="col-xs-12">
        <%= f.input :title, required: true, autofocus: true %>
      </div>
      <div class="col-xs-6">
        <%= f.input :category %>
      </div>
      <div class="col-xs-6">
        <%= f.input :price %>
      </div>
      <div class="col-xs-6">
        <%= f.input :quantity %>
      </div>
      <div class="col-xs-6">
        <%= f.input :condition %>
      </div>
      <div class="col-xs-12">
        <%= f.input :description %>
      </div>
      <div class="col-xs-4">
        <%= f.input :source %>
      </div>
      <div class="col-xs-4">
        <%= f.input :supplier %>
      </div>
      <div class="col-xs-4">

        <%= f.input :lead_time %>
      </div>
      <div class="col-xs-12">
        <%= f.input :address %>
      </div>

      <div class="col-xs-6">
        <%= f.input :photo %>
      </div>
      <div class=" col-xs-6 form-actions login-button">
        <%= f.button :submit, "Post for sale", class: "btn btn-primary" %>
      </div>


    </div>
  </div>
</div>


<% end %>
