<% content_for(:title_tag) do %>
  Recircle: view <%= @material.title %> on Recircle
<% end %>


<div class="container-home-zero-padding">
    <div class="grid-show">
      <div class ="side-nav-left hidden-xs hidden-sm">
        <%= render 'shared/nav-side-menu' %>
      </div>
      <div class="material-specs">
        <%= render 'material_show_specs' %>
      </div>
      <div class="material-show-order">
        <%= render 'material_show_order-form' %>
      </div>
      <div class="material-show-photo">
        <%= render 'material_show_photo' %>
      </div>
      <div class="material-show-about">
        <%= render 'material_show_about' %>
      </div>
      <div class="map-materials-show" id="map-index">
          <%= render partial: 'shared/map', locals: {markers_map: @markers_map} %>
        </div>
    </div>
